@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,700,800');

:root {
    --material-blue: #03a9f4;
    --material-red: #f44336;
}

body, html {
    font-family: "Raleway", sans-serif;
    background-color: #efefef;
    color: #3f3f43;
    margin: 0;
}

hr {
    border: 2px dashed #c3c3c3;
}

/* Navbar CSS */

ul#navbar {
    position: fixed;
    width: 100%;
    box-shadow: 0 0 8px #444444;
    background-color: #303031;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

a.navlink, a.navlink:visited {
    display: block;
    padding: 21px 12px 18px;
    font-size: 0.8em;
    font-weight: 500;
    color: #c8c8c8;
    text-decoration: none;
    transition: color 0.2s ease;
}

a.navlink:hover, a.active, a.active:visited {
    color: #f5f6f6;
}

a.navlink::after, a.active::after {
    position: relative;
    display: block;
    right: 12px;
    top: 18px;
    content: '';
    height: 3px;
    background: var(--material-blue);
}

a.navlink::after {
    width: 0;
    transition: width 0.2s ease;
}

a.active::after, a.navlink:hover:not(.active)::after {
    width: calc(100% + 24px);
}

a.navlink:active::after {
    width: calc(100% + 24px);
}

a.navlink-main, a.navlink-main:visited {
    display: block;
    padding: 10px 30px;
    font-size: 2em;
    font-weight: 700;
    color: #f5f6f6;
    text-decoration: none;
}

/* End Navbar CSS */

h1, h2, h3, strong {
    color: #303031;
}

.content-container, .new-post-container, .blog-container, .bloglist-wrapper {
    width: 930px;
    margin: 0 auto;
    padding: 10% 0;
}

.bloglist-wrapper {
    padding: 0;
}

.title {
    font-weight: 800;
    font-size: 3em;
}

.entry-container {
    width: 820px;
    padding: 2% 4%;
    background: white;
    margin: 25px auto;
}

.blog-title, .blog-title:visited {
    font-weight: 700;
    text-decoration: none;
    color: #303031;
}

.pub-date {
    font-size: 0.9rem;
    font-weight: 500;
}

.blog-body {
    white-space: pre-wrap;
    line-height: 1.8rem;
    margin-top: 40px;
}

.goto-entry-button {
    display: inline-block;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 700;
    color: #efefef;
    background: var(--material-blue);
    border-bottom: 2px solid #0089c7;
    margin: 12px 0;;
    padding: 10px 18px;
}

.goto-entry-button:hover {
    background: #26b7f9;
}
