@import url('https://fonts.googleapis.com/css?family=Zilla+Slab|Raleway:400,500,700,800');

:root {
    --material-blue: #03a9f4;
    --material-red: #f44336;
}

body, html {
    font-family: "Raleway", sans-serif;
    background-color: #efefef;
    color: #3f3f43;
    margin: 0;
    overflow-x: hidden;
}

hr {
    margin: 45px auto;
    border: 2px dashed #c3c3c3;
}

h1, h2, h3, strong {
    color: #303031;
}

.break {
    max-width: 700px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

/* --- NAVBAR CSS --- */

/* Top Navigation */

ul#topnav {
    z-index: 100;
    position: fixed;
    width: 100%;
    box-shadow: 0 0 5px #444444;
    background-color: #303031;
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

li {
    float: left;
}

.fa-bars {
    padding: 12.5px 12.5px 12.5px 22.5px;
    cursor: pointer;
    color: #f5f6f6;
}

a.navlink, a.navlink:visited {
    display: block;
    padding: 21px 12px 18px;
    font-size: 0.8em;
    font-weight: 500;
    color: #c8c8c8;
    text-decoration: none;
    transition: color 0.2s ease;
}

a.navlink:hover, a.active, a.active:visited {
    color: #f5f6f6;
}

a.navlink::after, a.active::after {
    position: relative;
    display: block;
    right: 12px;
    top: 18px;
    content: '';
    height: 3px;
    background: var(--material-blue);
}

a.navlink::after {
    width: 0;
    transition: width 0.2s ease;
}

a.active::after, a.navlink:hover:not(.active)::after {
    width: calc(100% + 24px);
}

a.navlink:active::after {
    width: calc(100% + 24px);
}

a.navlink-main, a.navlink-main:visited {
    display: block;
    padding: 10px 30px 10px 0;
    margin-left: 20px;
    font-size: 2em;
    font-weight: 700;
    color: #f5f6f6;
    text-decoration: none;
}

/* Side Navigation */

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    background-color: #efefef;
    overflow-x: hidden;
    border-right: 0 solid var(--material-blue);
    transform: translate(-100%);
    transition: 275ms cubic-bezier(.5, .08 ,0 ,1);
    transition-property: transform, border;
}

.sidenav::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.side-navlink, .closebtn {
    font-weight: 500;
    display: block;
    padding: 8px 16px 8px 22px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-decoration: none;
    font-size: 0.9em;
    color: #818181;
}

.sidenav .closebtn {
    position: relative;
    bottom: 12px;
    left: 2px;
    font-size: 50px;
    height: 45px;
    padding: 0;
    margin: 8px 16px 32px 22px;
    display: inline-block;
}

.side-navlink:hover, .closebtn:hover {
    color: #303031;
}

.menu-footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    text-align: center;
    margin: 0;
    padding: 8px 0;
    width: 250px;
    background: var(--material-blue);
    transform: translate(-100%);
    transition: transform 275ms cubic-bezier(.5, .08 ,0 ,1);
}

#main {
    overflow-x: hidden;
    transition: transform 275ms cubic-bezier(.5,.08,0,1);
}

.overlay {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0ms linear,
                opacity 250ms ease;
}

.overlay-show {
    visibility: visible;
    opacity: 0.55;
}

/* --- BLOGLIST CSS --- */

.content-container, .new-post-container, .blog-container, .bloglist-wrapper {
    width: 930px;
    margin: 0 auto;
    padding: 90px 0;
}

.blog-container {
    padding: 15vh 0 0;
}

.bloglist-wrapper {
    margin-top: 65px;
    padding: 0;
}

.title {
    display: inline-block;
    border-bottom: 3px dashed #c3c3c3;
    margin-bottom: 0.2em;
    padding-bottom: 0.1em;
    font-weight: 800;
    font-size: 3em;
}

.entry-container {
    width: 820px;
    padding: 2% 4%;
    background: white;
    border-left: 4px solid var(--material-blue);
    margin: 25px auto;
}

.date-bubble {
    float: left;
    margin: 5px 25px 5px 0;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    height: 80px;
    width: 80px;
    border: 3px dashed var(--material-blue);
    border-radius: 1000px;
}

.pub-month {
    position: relative;
    margin-top: 14px;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 0.4em;
    font-weight: 500;
    left: 0.1em;
    letter-spacing: 0.2em;
}

.pub-date {
    margin-top: 0;
}

.pub-time {
    position: relative;
    font-family: monospace;
    letter-spacing: 0.15em;
    bottom: 10px;
    font-size: 1em;
}

.blog-details {
    display: inline-block;
    position: relative;
    top: 12px;
}


.blog-title, .blog-title:visited {
    margin: 0;
    font-size: 2.3em;
    font-weight: 700;
    text-decoration: none;
    color: #303031;
}

.blog-body {
    font-family: "Zilla Slab", serif;
    font-size: 1.15em;
    white-space: pre-wrap;
    line-height: 1.8rem;
    margin-top: 40px;
}

.goto-entry-button, .entry-button {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    color: white;
    background: var(--material-blue);
    border: none;
    border-bottom: 2px solid #0089c7;
    border-radius: 3px;
    margin: 12px 0;;
    padding: 10px 18px;
}

.entry-button {
    display: block;
    margin: 1.8em;
}

.goto-entry-button:hover, .entry-button:hover {
    background: #26b7f9;
}

.goto-entry-button:focus, .entry-button:focus {
    outline: none;
}

/* --- NEWPOST CSS --- */

.form-container {
    margin-top: 2em;
    border-left: 5px solid var(--material-blue);
    padding: 2em 1em;
    background-color: white;
}

/* Title Input */

.title-input, .blog-body-input {
    font-size: 1em;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin: 0;
    padding: 0.75em 1.5em;
    width: 300px;
    border: 2px solid #c3c2c2;
    border-radius: 6px;
    transition: border 150ms ease;
}

.title-input-box {
    margin: 1.5em;
}

.title-input::placeholder {
    color: #c3c2c2;
}

.title-input:hover, .title-input:focus,
.blog-body-input:hover, .blog-body-input:focus {
    border-color: var(--material-blue);
}

.title-input:focus, .blog-body-input:focus {
    outline: none;
}

/* Body Input */

.blog-body-input-container {
    margin: 2.5em 1.5em 1.5em;
    width: 652px;
}

.blog-body-input {
    margin: 0;
    font-weight: 500;
    line-height: 1.4rem;
    resize: none;
    width: 600px;
    height: 240px;
}

.blog-body-input::placeholder {
    font-weight: 700;
    color: #c3c2c2;
}

#counter {
    float: right;
    margin-top: 0;
    padding: 0.2em 0.4em;
    border-bottom: 2px solid var(--material-blue);
    letter-spacing: 0.05em;
    font-weight: 700;
}

.error {
    margin: 0 0 0 0.33em;
    color: var(--material-red);
    font-weight: 500;
    font-size: 0.8em;
}

p.error {
    margin-top: 6px;
}

/* --- BLOG ENTRY CSS --- */

.blog-title.large {
    font-size: 2.8em;
}

.date-bubble.large {
    font-size: 2.5rem;
    height: 100px;
    width: 100px;
    border: 4px dashed var(--material-blue);
}

.pub-month.large {
    margin-top: 18px;
}

.pub-time.large {
    font-size: 1.15em;
}
