<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/mainpage.css" rel="stylesheet">
    </head>
    <body>
        <nav id = "navbar">
            <a class = "navlink" href = '/blog'>My Bloglist</a>
            <a class = "navlink" href = '/newpost'>New Blog Post</a>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>
