<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/mainpage.css" rel="stylesheet">
    </head>
    <body>
        <ul id = "navbar">
            <li><a class = "navlink-main" href = '/blog'>tinyblog.io</a></li>
            <li><a class = "navlink {% if request.path == '/blog' %}active{% endif %}" 
                    href = '/blog'>My Bloglist</a></li>
            <li><a class = "navlink {% if request.path == '/newpost' %}active{% endif %}" 
                    href = '/newpost'>New Blog Post</a></li>
        </ul>
        {% block content %}
        {% endblock %}
    </body>
</html>
