<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{{ title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/mainpage.css" rel="stylesheet">
        <script src="https://use.fontawesome.com/aebe085bd7.js"></script>
        <script type="text/javascript" src="static/scripts.js"></script>
    </head>
    <body>
        <ul id = "topnav">
            <li><i class = "fa fa-bars fa-2x" aria-hidden="true" onclick = "openNav()"></i></li>
            <li><a class = "navlink-main" href = '/blog'>tinyblog.io</a></li>
            {# The following conditional is being used to check if a query parameter is present. If it is, do not apply
            the supplemental CSS class. #}
            <li><a class = "navlink {% if request.path == '/blog' and len(request.args) == 0 %}active{% endif %}"
                    href = '/blog'>My Bloglist</a></li>
            <li><a class = "navlink {% if request.path == '/newpost' %}active{% endif %}"
                    href = '/newpost'>New Blog Post</a></li>
        </ul>
        <div id = "sidenav" class = "sidenav">
            <div class = "navlink-wrapper">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <hr class = "menu-line">
                <a href="/blog" class="hublink">Bloglist</a>
                <a href="javascript:void(0)" id = "entries-link" class="hublink">Entries</a>
                <div id = "expanding-list">
                    {% for blog in blogs %}
                        <a class="side-navlink" href='/blog?id={{ blog.id }}'>{{ blog.title }}</a></li>
                    {% endfor %}
                </div>
                <a href="/newpost" class="hublink">New Post</a>
            </div>
        </div>
            <div id = "menu-footer" class = "menu-footer">
                <a class = "navlink-main" href = "/blog">tinyblog.io</a>
            </div>
        <div id = "overlay" class = "overlay" onclick = "closeNav()"></div>>
        <div id = "main">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
