{% extends 'base.html' %}

{% block content %}
<div class = "new-post-container">
    <h1 class = "title" >New Blog Post</h1>
    <form method = 'POST'>
        <input type = 'text' placeholder = "Blog Title" name = 'blog_title' value = '{{ blog_title }}'/>
        {% if title_error %}
            <span class = 'error'>
                {{ title_error }}
            </span>
        {% endif %}
        <div class = 'blog-body-container'>
            <textarea placeholder = "{{ placeholder }}"id = "blog-content-input" 
            name = 'blog_body' maxlength = "500">{{ blog_body }}</textarea>
            {% if body_error %}
                <span class = 'error'>
                    {{ body_error }}
                </span>
            {% endif %}
        </div>
        <input type = 'submit' value = 'Add Entry'/>
    </form>
</div>
{% endblock %}