{% extends 'base.html' %}

{% block content %}
<div class = "new-post-container">
    <h1 class = "title" >New Blog Post</h1>
    <div class = "form-container">
        <form method = 'POST'>
            <div class = "title-input-box">
                <input class = "title-input" type = 'text' maxlength = "70"
                placeholder = "Blog Title" name = 'blog_title' value = '{{ blog_title }}'/>
                {% if title_error %}
                    <p class = 'error'>
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ title_error }}
                    </p>
                {% endif %}
            </div>
            <div class = "blog-body-input-container">
                <textarea id = 'textarea' class = "blog-body-input" placeholder = "{{placeholder}}" 
                name = 'blog_body' maxlength = "500">{{ blog_body }}</textarea>
                <p id = 'counter'></p>
                {% if body_error %}
                    <span class = 'error'>
                        <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                        {{ body_error }}
                    </span>
                {% endif %}
            </div>
            <input class = "entry-button" type = 'submit' value = 'Add Entry'/>
        </form>
    </div>
</div>
{% endblock %}
